/* ################ */
/* General */
/* ################ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}
:root {
  --green: #00af7a;
  --white: #fefefefe;
  --black: #000000;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--green);
}
/*section-title */
.section-heading {
  position: relative;
  margin-top: 60px;
  text-align: center;
}
.section-heading h2 {
  color: var(--green);
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.section-heading::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 47.5rem;
  width: 220px;
  height: 5px;
  background-color: var(--green);
  transform: translateX(-50%);
}
.section-heading::after {
  content: '';
  position: absolute;
  top: 45px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--black);
  transform: translateX(-50%);
}
.btn {
  color: var(--white);
  background-color: var(--green);
  font-size: 1em;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 2px;
}
.btn:hover {
  background-color: var(--black);
  color: var(--white);
  transition: 0.5s ease-in;
}
/* Bouton de redirection  */
.arrow {
  height: 50px;
  width: 50px;
  background-color: rgba(0, 175, 122, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

.icone {
  font-size: 24px;
  color: var(--white);
}

/* ############## */
/* Header */
/* ############## */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 35px 125px;
  z-index: 100000;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
header .logo img {
  width: 15%;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: var(--white);
  letter-spacing: 2px;
  transition: 0.6s;
}
header ul li a:hover {
  color: var(--green);
  transition: 0.5s ease-in-out;
}
header.sticky {
  padding: 5px 100px;
}
header.sticky {
  background-color: var(--black);
}

/* Styles pour le menu burger */
.menu-toggle {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
  color: var(--white);
}

/* ############## */
/* Home */
/* ############## */
.swiper-container {
  height: 100vh;
  overflow: hidden;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-align: center;
  background-size: cover;
  background-position: center;
  padding-top: 19rem;
}
.swiper-slide h1 {
  font-size: 1.7vw;
}
.slide1 {
  background-image: linear-gradient(rgba(49, 49, 49, 0.7), rgba(0, 0, 0, 0.7)),
    url('/assets/images/Home.webp');
}
.slide2 {
  background-image: linear-gradient(rgba(49, 49, 49, 0.7), rgba(0, 0, 0, 0.7)),
    url('/assets/images/home-02.webp');
}
.slide3 {
  background-image: linear-gradient(rgba(49, 49, 49, 0.7), rgba(0, 0, 0, 0.7)),
    url('/assets/images/home-03.webp');
}
.slide4 {
  background-image: linear-gradient(rgba(49, 49, 49, 0.7), rgba(0, 0, 0, 0.7)),
    url('/assets/images/home-04.webp');
}
.swiper-button-next,
.swiper-button-prev {
  color: var(--green) !important;
}
.swiper-pagination-bullet {
  background: var(--green) !important;
}
.swiper-pagination-bullet-active {
  background: var(--green) !important;
}

/* ############## */
/* About */
/* ############## */
#about .container .row .col-md-6:last-child {
  margin-top: 4rem;
}

/* ############## */
/* Services */
/* ############## */
#services {
  margin-top: 10rem;
  padding-top: 3rem;
  height: 120vh;
  background-image: linear-gradient(rgba(49, 49, 49, 0.7), rgba(0, 0, 0, 0.7)),
    url('/assets/images/services.webp');
  color: var(--white);
  background-size: cover;
  background-attachment: fixed;
}
#services .container .row {
  margin-top: 5rem;
}
#services .container .row .col-md-4 i {
  color: var(--green);
  font-size: 2rem;
}
/* ############## */
/* Pages */
/* ############## */
#pages .container .row {
  margin-top: 10rem;
}
#pages .container .row .col-md-4 .content {
  padding: 42px 25px;
  margin: 0px -24px -24px;
  background-color: var(--black);
  color: var(--white);
}

/* ############## */
/* Témoignages */
/* ############## */
#témoignages {
  margin-top: 10rem;
}
#témoignages .container .row .col-md-4 .card {
  padding: 25px;
  text-align: center;
}
#témoignages .container .row .col-md-4 .card:hover {
  background-color: #e2e2e2;
}
#témoignages .container .row .col-md-4 .card .content img {
  width: 100%;
  border-radius: 10%;
  border: 3px solid var(--green);
  background-size: cover;
  background-position: center;
}
#témoignages .container .row .col-md-4 .card span {
  color: var(--green);
}

/* ############## */
/* Contact */
/* ############## */
.reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 1rem;
}
.review-box {
  background: var(--light);
  border-bottom: 3px solid var(--accent2);
  text-align: center;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 3rem 1rem;
  cursor: pointer;
}
.review-box:hover {
  background: #e2e2e2;
}
.review-box .stars {
  color: orange;
  font-size: 0.8rem;
  margin-top: 1rem;
}
.review-box img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.review-box h3 {
  font-size: 1.2rem;
  margin: 1rem 0;
}
.review-box p {
  font-size: 13px;
}
/*#################################*/
/*contact*/
/*#################################*/
.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}
.contact-infos {
  flex: 11 20rem;
}
.contact-form {
  flex: 11 20rem;
  display: flex;
  justify-content: center;
}
.contact-infos h3 {
  font-size: clamp(18px, 3vw, 30px);
  color: var(--accent2);
  font-weight: 500;
  margin-bottom: 1rem;
}
.contact-infos p {
  margin-bottom: 0.5rem;
}
.adress {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
.adress i {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}
.adress span {
  font-size: 1rem;
  font-weight: 500;
}
.social {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  margin-top: 1rem;
}
.social a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--light);
  background-color: var(--accent2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  transition: background 0.2s ease-in-out;
}
.social a:hover {
  background-color: var(--accent);
}
.contact-form form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 17px;
  border-radius: 7px;
  margin-bottom: 1rem;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}
.contact-form form textarea {
  resize: none;
}
.contact-form form input[type='submit'] {
  cursor: pointer;
}
.contact-form form input::placeholder,
.contact-form form textarea:placeholder-shown {
  color: var(--accent);
}

/* ############## */
/* Footer */
/* ############## */

/* ############## */
/* Responsive */
/* ############## */
@media (max-width: 480px) {
}
@media (max-width: 600px) {
}
@media (max-width: 768px) {
  header {
    padding: 10px 30px;
  }

  .menu-toggle {
    display: block;
  }

  .nav-list {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: var(--black);
    flex-direction: column;
    align-items: center;
    display: none;
    margin-top: 125px;
  }

  .nav-list.active {
    display: flex;
  }

  .nav-list li {
    margin: 15px 0;
  }

  header .logo img {
    width: 15;
  }
  header.sticky {
    padding: 15px 50px;
  }
}
@media (max-width: 992px) {
}
